<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-body-secondary">&copy; 2023 Mojolaban, Inc</p>

    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
    </a>

    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="https://carem-website.mojolaban.repl.co/" target="_blank" class="nav-link px-2 text-body-secondary">Home</a></li>
      <li class="nav-item"><a href="https://jovian.com/learn/web-development-with-python-and-flask" target="_blank" class="nav-link px-2 text-body-secondary">Events</a></li>
      <li class="nav-item"><a href="mailto:yari8007@colorado.edu?subject=Hello%20-%20Carem%20Website&body=Hi%20there!%0D%0A%0D%0AI%20just%20come%20by%20your%20carem-website%20from%20Jovian's%20tutorial.%0D%0AMy%20name%20is%20%3Cyour%20name%20here%3E%2C%20I%20have%20some%20questions%2Fcomments%20on%20%3Cyour%20text%20here%3E.%0D%0A%0D%0ARegards%2C%0D%0A%3Cyour%20name%20here%3E%0D%0A%0D%0A" class="nav-link px-2 text-body-secondary">FAQs</a></li>
      <li class="nav-item"><a href="https://github.com/mojolaban/carem-website" class="nav-link px-2 text-body-secondary">About</a></li>
    </ul>
  </footer>
</div>