<!DOCTYPE html>
<html>
  <head>
    {% include 'bootstrap.html' %}
    <title>Make Your Plan</title>
  </head>
  <body>
    {% include 'nav.html' %}
   <style>
      #container {
        max-width: 70%;
        margin: 100px auto 20px auto;
        justify-content: center;
        align-items: center;
      }
   </style>

    <div id='container' class="row">

      <div class='col-md-5'>
         <img class="d-none d-md-block" src="https://carem-website.mojolaban.repl.co/static/banner-carem3.jpg" style='height:320px; border: 10px solid #fff; border-radius: 25px;'>
      </div>
      
      <div class='col-md-5'>
        <h1 class='mt-2 mb-4' style='text-align: center;'>
          Plan committed!
        </h1>
          <div style="text-align: center;">
            <button onclick="window.location.href='https://carem-website.mojolaban.repl.co/'" class="btn btn-primary btn-link mt-4" style="width: 100%;height:50px" >
              <div style='font-family:Roboto; font-size=40'>
                Back to Main Page
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
      </div>
    
    {% include 'footer.html' %}
  </body>
</html>